<div class="row">
    <h1>Formación Académica</h1>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/arg-programa.png" class="img-fluid" id="Programador Web Full Stack Junior">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Google-Activate.png" class="img-fluid" id="Introduccion al Desarrollo Web">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/alura-logo.jpg" class="img-fluid" id="Desarrollador Web Front-End">
    </div>
</div>