<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Encriptador</h1>
            <p>El cifrado o la encriptación de mensajes sirve para hacer las comunicaciones más seguras, y lo mismo se
                puede decir a la hora de aplicarlo a Internet. La primera funcionalidad para conseguirlo es la de la
                confidencialidad de los mensajes, ya que al no ir al descubierto, cuando tú le envías algo a otra
                persona, los algoritmos criptográficos de la aplicación ayudan a que no se pueda leer fácilmente si
                alguien lo intercepta en el camino.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/encriptar-captura.jpg" class="img-fluid img-proyecto">

        </div>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h1>Ahorcado</h1>
        <p>Usando una fila de guiones, se representa la palabra a adivinar, dando el número de letras, números y
            categoría. Si el jugador adivinador sugiere una letra o número que aparece en la palabra, el otro jugador la
            escribe en todas sus posiciones correctas. Si la letra o el número sugerido no ocurre en la palabra, el otro
            jugador saca un elemento de la figura de hombre palo ahorcado como una marca de conteo.</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <br>
        <br>
        <img src="../../../assets/ahorcado-captura.jpg" class="img-fluid img-proyecto">

    </div>
</div>