<div class="row">
    <h1>Hobbies</h1>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/gaming.jpg" class="img-fluid" id="Juegos" height="150" width="150">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/running.png" class="img-fluid" id="Running" height="150" width="150">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/karao.png" class="img-fluid" id="Cantar" height="150" width="150">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/music-removebg-preview.png" class="img-fluid" id="Music" height="150" width="150">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/movies.png" class="img-fluid" id="Ver Peliculas" height="150" width="150">
    </div>
</div>