<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/photoperfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Francisca C. Noguera C.</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Hola, tengo 28 años, Venezolana radicada actualmente en Argentina, me encanta la programación y el
                desarrollo de paginas web.
                Empecé mis estudios en Alura y segui estudiando de forma autodidacta haciendo distintos cursos de
                programación. Luego inicié el curso de desarrollo web Front-End en el programa ONE Oracle Next
                Education. Mi objetivo es seguir aprendiendo y lograr trabajar de esto que tanto me gusta.</p>
        </span>
    </div>
</div>